<div class="sign-in-card">
    <div class="sign-in-card-header"> 
        <h1>SIGN IN</h1>
        <p>Use your user name to sign</p>
    </div>
    
    <div class="sign-in-card-body">
        <form class="form-group" action="/users/create-session" method="POST">
            <input class="input" type="text" name="username" placeholder="Username">
            <input class="input" type="password" name="password" placeholder="Password">
      <button class="button" type="submit">Submit</button>

        </form>
    </div>

</div>
