<div class="sign-in-card">
  <div class="sign-in-card-header">
    <h1>SIGN UP</h1>
    <p>Fill all the details to sign up</p>
  </div>

  <div class="sign-in-card-body">
    <form class="form-group" action="/users/create" method="post">
      <input class="input" type="text" name="name" placeholder="Name" />
      <input class="input" type="email" name="email" placeholder="Email" />
      <input
        class="input"
        type="password"
        name="password"
        placeholder="Password"
      />
      <input
        class="input"
        type="password"
        name="confirm_password"
        placeholder="Confirm Password"
      />
      <button class="button" type="submit">Submit</button>
    </form>
  </div>
</div>

\\
