.sign-in-card {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  background: rgb(9, 207, 208);
  background: linear-gradient(
    186deg,
    rgba(9, 207, 208, 1) 19%,
    rgb(210, 234, 241) 51%
  );
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  .sign-in-card-header {
    text-align: center;
    margin-bottom: 20px;
    h1 {
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
      color: #999;
    }
  }
  .sign-in-card-body {
    .form-group {
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .label {
        display: block;
        margin-bottom: 5px;
      }
      .input {
        margin-top: 10px;
        width: 70%;
        height: 40px;
        padding: 0 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        outline: none;
        &:focus {
          border-color: #999;
        }
      }
      .button {
        margin-top: 10px;
        width: 70%;
        height: 40px;
        border: none;
        border-radius: 5px;
        background-color: #333;
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        outline: none;
        cursor: pointer;
        &:hover {
          background-color: #666;
        }
      }
    }
  }
}
